
.user-register{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
}
.user-register-form{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

