.sel-container{
    width: 300px;
    height: 200px;
    padding: 5px 10px;
    background-color: aquamarine;
    position: absolute;
    top: 60px;
    right: 0;
    visibility: hidden;
}
.list-title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}
table{
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: green;
    color: white;
}
 th, tr, td{
    border: 1px solid black;
    padding: 5px;
}

.list-add-btn{
    background-color: red;
}